html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --teal: #42b0d1;
}

body {
  height: 100vh;
  background-color: #18202b;
}

header {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #1c2230;
}

.spacer {
  flex-grow: 1;
}

header nav {
  display: flex;
  align-items: center;
  padding: 3rem 5%;
}

header nav a {
  color: #c0c6d1;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.15rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 4rem;
}

.banner h1 {
  font-size: 2.75rem;
  font-weight: 500;
  max-width: 50rem;
  text-align: center;
  line-height: 1.5;
}
.banner p {
  margin-top: 0.5rem;
  font-size: 1.75rem;
  max-width: 50rem;
  text-align: center;
  line-height: 1.5;
  color: #c0c6d1;
}
.banner button {
  background-color: var(--teal);
  height: 4rem;
  width: 20rem;
  font-size: 1.25rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.features {
  padding: 4rem 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5rem;
  /* padding: 2rem 10%; */
}
.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature h2 {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
}
.feature p {
  margin-top: 0;
  color: #c0c6d1;
  font-size: 1.25rem;
  max-width: 32.5rem;
}

.stay-productive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 5% 10rem;
}

.stay-productive > div {
  padding-left: 4rem;
}

.stay-productive h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.stay-productive p {
  margin-top: 0;
  font-size: 1.5rem;
  color: #c0c6d1;
  max-width: 45rem;
}

.stay-productive a {
  color: var(--teal);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid;
  padding-bottom: 0.25rem;
}
.stay-productive a img {
  margin-left: 0.85rem;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .stay-productive {
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .stay-productive img {
    max-width: 90%;
  }
  .stay-productive > div {
    padding-left: 0;
  }
  .features {
    grid-template-columns: 1fr;
  }
}
